/*
light-Green    #4fe03c
light-Orange   #e09e3c
light-Purple   #d03ce0
light-Red      #e03c3c
Input-Signals_Rec #ffca18 Orange
*/


/* ////////////////////////////////////// */
/* ////////  Signal Status Card  /////////*/
/* ////////////////////////////////////// */

.statusSignalContent{
	display: flex;
    flex-direction: row;
    justify-content: center;
}

.statusCard{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	margin:20px;
	padding:20px;
	width: 30%;
	/* height: 50% */
}

.statusCardHeader{	
    font-size: 21px;
}

.statusCardHeader-Green{
	border-bottom: 1px solid #4fe03c;
    color: #4fe03c;
}

.statusCardHeader-Orange{
	border-bottom: 1px solid #e09e3c;
    color: #e09e3c;
}

.statusCardHeader-Purple{
	border-bottom: 1px solid #d03ce0;
    color: #d03ce0;
}

.statusCardHeader-Red{
    border-bottom: 1px solid #e03c3c;
    color: #e03c3c;
}

.statusCardHeader-Grey{
    border-bottom: 1px solid #9e9e9e;
    color: #9e9e9e;
}

.signalRawData-content{
	display: flex;
	flex-direction: column;	
}

.signal-status-justify{
	
}

.signal-status-justify > .justify-content{
	border: 1px solid #fdafaf;
    padding: 5px 10px;
}


/* //////////////////////////////////////////////// */
/* ////////  Signals Summary Information  /////////*/
/* ////////////////////////////////////////////// */


.sgSumContent{
	display: flex;
	flex-direction:column;
	justify-content:center;
	width: 100%;
	padding: 0px 20px;
    padding-bottom: 20px;
}

.underlayer-rangeslider{
	display: flex;
    flex-direction: row;
    justify-content: space-between;
	margin-top: 15px;
	font-size: 20px;
}

/* .SignalsSummary{ */
	    /* background-color: aquamarine; */
		/* box-shadow: 0 1px 6px 0 #F00, 0 3px 25px 0 #00F; */
/* } */




.switch {
  position: relative;
  display: inline-block;
  width: 88px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
    background-color: #088cd6;
}

input:focus + .slider {
  box-shadow: 0 0 1px #088cd6;
}

input:checked + .slider:before {
  -webkit-transform: translateX(52px);
  -ms-transform: translateX(52px);
  transform: translateX(52px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.SignalJustification{
    border-left-color: #9eb3b9  !important;
    padding: 1.25rem;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
    border: 1px solid #eee;
    border-left-width: .25rem;
    border-radius: .25rem; 
}
.justifTxt{
	
	font-weight:600;
}
/* ////////////////////////////////////////////*/
/* ////////  Signal Customized Graph  /////////*/
/* ////////////////////////////////////////////*/


.about-custom-graph{
	font-family: Helvetica, sans-serif;
    border: 1px solid #ddd;
    padding: 20px;
    margin: 30px 60px;
    border-radius: 10px;
    font-size: 18px;
    background-color: antiquewhite;
}


.add-custom-graph{
    width: 300px;
    height: 45px;
    font-size: inherit;
    border: 1px solid #000;
    background-color: white;
    color: #000;
    border-radius: 20px;
	margin: auto;
}

.add-custom-graph:hover, .add-custom-graph:focus{
	background-color: #000;
	color: white;
	border-color: white;
	outline: none;
}









