
.trac-anchor{
	color: #000;
}

.Overall-Percentage {
    margin: 30px 50px;
    border: 2px solid #ddd;
    border-radius: 20px;
    padding: 15px 25px;
}

.traceability-header{
    text-align: center;
    background-color: antiquewhite;
    padding: 20px;
    border-radius: 5px;
}

.progress-bar-info {
    background-color: grey;
}



.Overall-Percentage-pass{
    border: 2px solid #ddd;
	background-color: #f0fff2;
}

.search-table-pass {
    border: 2px solid #cdecbe;
	background-color: white;
}

.search-icon-pass {
    background: #cdecbe;
}

.input-field-pass{
    border: 2px solid #cdecbe;
}

.input-field-pass:focus, .input-field-pass:active {
    border: 2px solid #4fe03c;
}







.Overall-Percentage-fail{
	border: 2px solid #ddd;
    background: #fff2f0;
}
	
	
.search-table-fail {
    border: 2px solid #eccbbe;
	background-color: white;
}

.search-icon-fail {
    background: #eccbbe;
}

.input-field-fail{
    border: 2px solid #eccbbe;
}

.input-field-fail:focus, .input-field-fail:active {
    border: 2px solid #fb8a95;
}







.Overall-Percentage-not-sim{
	border: 2px solid #ddd;
    background: rgba(100, 100, 100, 0.08);
}
	
	
.search-table-not-sim {
    border: 2px solid rgba(100, 100, 100, 0.15);
	background-color: white;
}

.search-icon-not-sim {
    background: rgba(100, 100, 100, 0.15);
}

.input-field-not-sim{
    border: 2px solid rgba(100, 100, 100, 0.2);
}

.input-field-not-sim:focus, .input-field-not-sim:active {
    border: 2px solid #868686;
}




.Overall-Percentage-req{
	border: 2px solid #ddd;
    background: white;
}
	
	
.search-table-req {
    border: 2px solid rgba(100, 100, 100, 0.15);
	background-color: white;
}

.search-icon-req {
    background: #bdbdbd
}

.input-field-req{
    border: 2px solid #bdbdbd;
}

.input-field-req:focus, .input-field-req:active {
    border: 2px solid #8c8c8c;
}




.square-legend {
    height: 25px;
    width: 25px;
    display: inline-block;
}

.s-l-pass {
    background-color: #5cb85c;
}

.s-l-fail {
    background-color: #d9534f;
}

.s-l-not-sim {
    background-color: grey;
}

.s-l-linked {
    background-color: blue;
}

.s-l-justified {
    background-color: #337ab7;
}


.legend-title{
	display: inline-block;
    vertical-align: middle;
    height: 35px;
}
    
	
.progress {
    margin-top: 30px;
    height: 35px;
    margin-bottom: 20px;
    overflow: hidden;
    background-color: #f5f5f5;
    border-radius: 13px;
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
    vertical-align: middle;
    text-align: center;
}


.progress-bar {
    float: left;
    width: 0;
    height: 100%;
    font-size: 15px;
    line-height: 35px;
    color: #fff;
    text-align: center;
    /* background-color: #337ab7; */
    -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .15);
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .15);
    -webkit-transition: width .6s ease;
    -o-transition: width .6s ease;
    transition: width .6s ease;
}

.progress-bar-implemented {
    background-color: blue;
}

.progress-bar-justified {
    background-color: #337ab7;
}



.as-mbd-header {
    text-align: center;
    font-weight: bold;
    border-bottom: 4px solid;
    box-shadow: 2px 2px 2px 2px #7b7b77;
    padding: 15px;
    border-radius: 5px;
    font-size: x-large;
}




.table > tbody > tr > td{
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #ddd;
    vertical-align: middle;
}




.col-white {
  background-color: #fff;
}

.col-green {
  background-color: #d8f9dd;
}

.col-red {
  background-color: #f1d2cd;
}

.col-grey {
  background-color: rgba(100, 100, 100, 0.1);
}





.td-justify{
	vertical-align: top;
	position: relative;
	border: 1px solid black;
}

.textarea-justify{
	top: 0px !important;
	left: 0px !important;
	width: 100%;
	height: 100%;
	position: absolute;
	resize: none;
	-webkit-box-sizing: border-box; /* <=iOS4, <= Android  2.3 */
	-moz-box-sizing: border-box; /* FF1+ */
	box-sizing: border-box; /* Chrome, IE8, Opera, Safari 5.1*/
	border: solid;
	border-width: 4px;
	border-color: white;
	margin:0px;
	padding:0px;
}

/*CoreALM :artf440362*/
/* Signal Summary*/

.s-l-pass {
    background-color: #5cb85c !important;
}

.s-l-fail {
    background-color: red !important;
}

.s-l-warn {
    background-color: #f0ad4e !important;
}

.s-l-not-sim {
    background-color: #b0abab  !important;
}
/* Table 1 Style */
table.table1{
    font-family: "Trebuchet MS", sans-serif;
    font-size: 16px;
    font-weight: bold;
    line-height: 1.4em;
    font-style: normal;
    border-collapse:separate;
	margin:1%;
}
.table1 thead th{
    padding:15px;
    color: black;
    /* text-shadow: 1px 1px 1px #568F23; */
	 background-color: #212529;
    border: 1px solid #fff;
    border-bottom:3px solid #e9ecef38;
   
     background: -webkit-gradient( linear, left bottom, right top, color-stop(0.02, #fbfffb), color-stop(0.51, #a7caa39c), color-stop(0.87, #e5e9edeb) );
    background: -moz-linear-gradient( left bottom, rgb(158,217,41) 2%, rgb(139,198,66) 51%, rgb(123,192,67) 87% );
    -webkit-border-top-left-radius:5px;
    -webkit-border-top-right-radius:5px;
    -moz-border-radius:5px 5px 0px 0px;
    border-top-left-radius:5px;
    border-top-right-radius:5px;
	
}
.table1 thead th span{ transform: rotate(180deg);
     writing-mode: tb-rl;}
.table1 thead th:empty{
    background:transparent;
    border:none;
}
.table1 tbody th{

    color: black;
    /* text-shadow: 1px 1px 1px #568F23; */
    background-color: #212529;
    border: 1px solid #fff;
    border-right: 3px solid #e9ecef38;
    padding: 0px 10px;
    background: -webkit-gradient( linear, left bottom, right top, color-stop(0.02, #fbfffb), color-stop(0.51, #a7caa39c), color-stop(0.87, #e5e9edeb) );
    background: -moz-linear-gradient( left bottom, rgb(158,217,41) 2%, rgb(139,198,66) 51%, rgb(123,192,67) 87% );
    -moz-border-radius: 5px 0px 0px 5px;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.table1 tfoot td{
    color: #9CD009;
    font-size:32px;
    text-align:center;
    padding:10px 0px;
    text-shadow:1px 1px 1px #444;
}
.table1 tfoot th{
    color:#666;
}
.table1 tbody td{
    padding:10px;
    text-align:center;
    background-color:#DEF3CA;
    border: 1px solid #f8f9fa;
    -moz-border-radius:2px;
    -webkit-border-radius:2px;
    border-radius:2px;
    color:black;
	font-size:small;
   /* text-shadow:1px 1px 1px #fff;*/
}

.my-legend .legend-title {
    text-align: left;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 90%;
    }
  .my-legend .legend-scale ul {
    margin: 0;
    margin-bottom: 5px;
    padding: 0;
    float: left;
    list-style: none;
    }
  .my-legend .legend-scale ul li {
    display: inline-block;
    font-size: 80%;
    list-style: none;
    line-height: 18px;
    vertical-align: text-top;
    }
  .my-legend ul.legend-labels li span {
    display: inline-block;
    height: 16px;
    width: 20px;
    margin-right: 5px;
    margin-left: 10px;
    border: 1px solid #999;
    }

  .my-legend a {
    color: #777;
    }
	
	.legendHeader{   
    padding: 1%;
    padding-left: 1%;
    margin-bottom: 1%;
    border-radius: -3px;
    border-left: 2px ridge #3c763d4f;
	}
	.signalSummaryDiv{    
	
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 1%;
    overflow: hidden;
	padding:2%;
    padding-bottom: 20px;
   
	}

  .selectBox {
	position: relative;
	}

  .selectBox select {
	width: 100%;
	font-weight: bold;
	}

  .overSelect {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	}

  .checkboxes {
	  display: none;
	  position: absolute;
	  background-color: #f9f9f9;
	  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	  z-index: 1;
	}

  .checkboxes label {
	  float: none;
	  padding: 12px 16px;
	  display: block;
	  text-align: left;
	}

  .checkboxes label:hover {
    background-color: #ddd;
	}